body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8ce;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.start{

}
.start h1{
  color: #206ac6;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.start h2 {
  color: #676363;
}

.start button {
  position: relative;
  background-color: #1d78d9;
  min-width: 100px;
  outline: none;
  padding: 0.5em;
  font-weight: 700;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;

  color: snow;
  border-radius: 5px;
  transition: 0.5s ease-in;
}
.start button:hover{
  cursor: pointer;
  background-color: #2952a4;
  transform: scale(1.1)
}

